<a href="https://colab.research.google.com/github/risker93/Hello_World/blob/main/%EC%9E%90%EB%A6%BF%EC%88%98%EB%8D%94%ED%95%98%EA%B8%B0_2021_05_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제 설명
자연수 N이 주어지면, N의 각 자릿수의 합을 구해서 return 하는 solution 함수를 만들어 주세요.
예를들어 N = 123이면 1 + 2 + 3 = 6을 return 하면 됩니다.

제한사항
N의 범위 : 100,000,000 이하의 자연수
입출력 예
N	answer
123	6
987	24
입출력 예 설명
입출력 예 #1
문제의 예시와 같습니다.

입출력 예 #2
9 + 8 + 7 = 24이므로 24를 return 하면 됩니다.

In [34]:
n=312
num =0
str_n =str(n)
for i in range(0,len(str_n)):
  num += int(str_n[i])
  print(num)

3
4
6

In [72]:
#아래 최종답안을 내고나서 맨처음 만든 포문과 비교하기위해서 .한번더 연습용으로 포문을 만들어보았다.
n =123
for i in str(n):
  print(int(i))

1
2
3

In [62]:
def solution(n):

  return sum([int(str(n)[i]) for i in range(0,len(str(n)))])

solution(312)

6

코드가 뭔가 별로다.

조금더 수정해보자.

In [70]:
def solution(n):

  return sum([int(i) for i in str(n)])

solution(123)

6

다른사람의 재출 코드를 보자
재귀함수를 사용했다.

In [41]:
def sum_digit(number):
    if number < 10:
        return number;
    return (number % 10) + sum_digit(number // 10) 

# 아래는 테스트로 출력해 보기 위한 코드입니다.
sum_digit(123)

6

In [42]:
123%10

3

In [43]:
123//10

12

In [44]:
12%10

2

In [48]:
12//10

1

함수가 한번 더 호출되나 10보다 작으므로 그대로 반환

- 321% 10은 123을 10으로 나눈 나머지 3을 반환한다.

- 123//10은 123을 10으로 나눈 몫 12를 반환한다.
따라서 12를 다시 함수에 넣고 돌린다.

- (return 123%10 + sum_disgit(123//10) -> return 3 + sum_digit(12))

- 2번째 돌릴땐 return에는 이전에 반환한 3 에다가 + 12%10 + sum_digit(12//10).

- 즉 2번째에는 return 3+ 2+sum_digit(1) 

- 3번째에는 if문에서 1이 10보다 작으므로 return 1을 해주고
- 최종적으로 return 3+2+1이 된다.