<a href="https://colab.research.google.com/github/risker93/king/blob/main/exp_2_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Iris 데이터를 가지고 품종 분류를 해보자.
sklearn 에 내장된 데이터셋중 하나

peral: 꽃잎, sepal: 꽃받침

1. 데이터 준비 , 자세히 살펴보기

In [1]:
#데이터를 불러온다
from sklearn.datasets import load_iris
iris = load_iris()
print(type(dir(iris)))
#dir()는 객체가 어떤 변수와 메서드를 가지고 있는지 나열함

<class 'list'>

In [2]:
#iris 에 어떤 정보들이 담겼는지 keys() 라는 메서드로 확인
iris.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [4]:
#가장 중요한 데이터는 iris_data 변수에 저장후 크기를 확인
iris_data = iris.data
print(iris_data.shape)

(150, 4)

In [6]:
iris_data[0]
#순서대로 sepal length, speal width, petal length, petal width

array([5.1, 3.5, 1.4, 0.2])

In [7]:
#우리는 꽃잎과 꽃받침의 길이가 주어지는 경우 그 세가지 품종 중 어떤것인지 를 맞추고 싶다
#머신러닝모델 에게 꽃잎, 꽃받침의 길이와 폭, 붓꽃의 품좀을 출력하도록 학습시켜야함
#여기서 모델이 출력해야 하는 정답을 라벨(label), 또는 타겟(target) 이라고 한다.

iris_label = iris.target
print(iris_label.shape)
iris_label

(150,)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [9]:
#이 라벨에 넣은 타겟의 숫자는 무엇을 나타내는 걸까요?
#라벨의 이름은 target_names 에서 확인가능

iris.target_names

#순서대로 0 1 2

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [10]:
print(iris.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [13]:
iris.feature_names
#4개의 각 feature에 대한 설명이 담겨있음.

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [15]:
iris.filename #데이터셋 파일이 저장된 경로

'/usr/local/lib/python3.7/dist-packages/sklearn/datasets/data/iris.csv'

2. 머신러닝 모델을 학습시키기 위한 문제지와 정답지 준비

In [17]:
#판다스는 파이썬에서 표 형태로 이루어진 2차원 배열 데이터를 다루는데 많이 쓰임
#iris 데이터 또한 행과 열이 있는 2차원 데이터이므로 pandas를 활용해보자

import pandas as pd
print(pd.__version__)

1.1.5

In [18]:
#붓꽃 데이터셋을 pandas 가 제공하는 DataFrame이라는 자료형으로 변환해보자

iris_df = pd.DataFrame(data=iris_data, columns=iris.feature_names)

In [19]:
#이해를 위해 iris_data와 iris.feature_names 를 출력해보자
print(iris_data)
print(iris.feature_names)

[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]
 [5.4 3.9 1.7 0.4]
 [4.6 3.4 1.4 0.3]
 [5.  3.4 1.5 0.2]
 [4.4 2.9 1.4 0.2]
 [4.9 3.1 1.5 0.1]
 [5.4 3.7 1.5 0.2]
 [4.8 3.4 1.6 0.2]
 [4.8 3.  1.4 0.1]
 [4.3 3.  1.1 0.1]
 [5.8 4.  1.2 0.2]
 [5.7 4.4 1.5 0.4]
 [5.4 3.9 1.3 0.4]
 [5.1 3.5 1.4 0.3]
 [5.7 3.8 1.7 0.3]
 [5.1 3.8 1.5 0.3]
 [5.4 3.4 1.7 0.2]
 [5.1 3.7 1.5 0.4]
 [4.6 3.6 1.  0.2]
 [5.1 3.3 1.7 0.5]
 [4.8 3.4 1.9 0.2]
 [5.  3.  1.6 0.2]
 [5.  3.4 1.6 0.4]
 [5.2 3.5 1.5 0.2]
 [5.2 3.4 1.4 0.2]
 [4.7 3.2 1.6 0.2]
 [4.8 3.1 1.6 0.2]
 [5.4 3.4 1.5 0.4]
 [5.2 4.1 1.5 0.1]
 [5.5 4.2 1.4 0.2]
 [4.9 3.1 1.5 0.2]
 [5.  3.2 1.2 0.2]
 [5.5 3.5 1.3 0.2]
 [4.9 3.6 1.4 0.1]
 [4.4 3.  1.3 0.2]
 [5.1 3.4 1.5 0.2]
 [5.  3.5 1.3 0.3]
 [4.5 2.3 1.3 0.3]
 [4.4 3.2 1.3 0.2]
 [5.  3.5 1.6 0.6]
 [5.1 3.8 1.9 0.4]
 [4.8 3.  1.4 0.3]
 [5.1 3.8 1.6 0.2]
 [4.6 3.2 1.4 0.2]
 [5.3 3.7 1.5 0.2]
 [5.  3.3 1.4 0.2]
 [7.  3.2 4.7 1.4]
 [6.4 3.2 4.5 1.5]
 [6.9 3.1 4.9 1.5]
 [5.5 2.3 4.  1.3]
 [6.5 2.8 4.6 1.5]
 [5.7 2.8 4.5 1.3]
 [6.3 3.3 4.7 1.6]
 [4.9 2.4 3.3 1. ]
 [6.6 2.9 4.6 1.3]
 [5.2 2.7 3.9 1.4]
 [5.  2.  3.5 1. ]
 [5.9 3.  4.2 1.5]
 [6.  2.2 4.  1. ]
 [6.1 2.9 4.7 1.4]
 [5.6 2.9 3.6 1.3]
 [6.7 3.1 4.4 1.4]
 [5.6 3.  4.5 1.5]
 [5.8 2.7 4.1 1. ]
 [6.2 2.2 4.5 1.5]
 [5.6 2.5 3.9 1.1]
 [5.9 3.2 4.8 1.8]
 [6.1 2.8 4.  1.3]
 [6.3 2.5 4.9 1.5]
 [6.1 2.8 4.7 1.2]
 [6.4 2.9 4.3 1.3]
 [6.6 3.  4.4 1.4]
 [6.8 2.8 4.8 1.4]
 [6.7 3.  5.  1.7]
 [6.  2.9 4.5 1.5]
 [5.7 2.6 3.5 1. ]
 [5.5 2.4 3.8 1.1]
 [5.5 2.4 3.7 1. ]
 [5.8 2.7 3.9 1.2]
 [6.  2.7 5.1 1.6]
 [5.4 3.  4.5 1.5]
 [6.  3.4 4.5 1.6]
 [6.7 3.1 4.7 1.5]
 [6.3 2.3 4.4 1.3]
 [5.6 3.  4.1 1.3]
 [5.5 2.5 4.  1.3]
 [5.5 2.6 4.4 1.2]
 [6.1 3.  4.6 1.4]
 [5.8 2.6 4.  1.2]
 [5.  2.3 3.3 1. ]
 [5.6 2.7 4.2 1.3]
 [5.7 3.  4.2 1.2]
 [5.7 2.9 4.2 1.3]
 [6.2 2.9 4.3 1.3]
 [5.1 2.5 3.  1.1]
 [5.7 2.8 4.1 1.3]
 [6.3 3.3 6.  2.5]
 [5.8 2.7 5.1 1.9]
 [7.1 3.  5.9 2.1]
 [6.3 2.9 5.6 1.8]
 [6.5 3.  5.8 2.2]
 [7.6 3.  6.6 2.1]
 [4.9 2.5 4.5 1.7]
 [7.3 2.9 6.3 1.8]
 [6.7 2.5 5.8 1.8]
 [7.2 3.6 6.1 2.5]
 [6.5 3.2 5.1 2. ]
 [6.4 2.7 5.3 1.9]
 [6.8 3.  5.5 2.1]
 [5.7 2.5 5.  2. ]
 [5.8 2.8 5.1 2.4]
 [6.4 3.2 5.3 2.3]
 [6.5 3.  5.5 1.8]
 [7.7 3.8 6.7 2.2]
 [7.7 2.6 6.9 2.3]
 [6.  2.2 5.  1.5]
 [6.9 3.2 5.7 2.3]
 [5.6 2.8 4.9 2. ]
 [7.7 2.8 6.7 2. ]
 [6.3 2.7 4.9 1.8]
 [6.7 3.3 5.7 2.1]
 [7.2 3.2 6.  1.8]
 [6.2 2.8 4.8 1.8]
 [6.1 3.  4.9 1.8]
 [6.4 2.8 5.6 2.1]
 [7.2 3.  5.8 1.6]
 [7.4 2.8 6.1 1.9]
 [7.9 3.8 6.4 2. ]
 [6.4 2.8 5.6 2.2]
 [6.3 2.8 5.1 1.5]
 [6.1 2.6 5.6 1.4]
 [7.7 3.  6.1 2.3]
 [6.3 3.4 5.6 2.4]
 [6.4 3.1 5.5 1.8]
 [6.  3.  4.8 1.8]
 [6.9 3.1 5.4 2.1]
 [6.7 3.1 5.6 2.4]
 [6.9 3.1 5.1 2.3]
 [5.8 2.7 5.1 1.9]
 [6.8 3.2 5.9 2.3]
 [6.7 3.3 5.7 2.5]
 [6.7 3.  5.2 2.3]
 [6.3 2.5 5.  1.9]
 [6.5 3.  5.2 2. ]
 [6.2 3.4 5.4 2.3]
 [5.9 3.  5.1 1.8]]
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [20]:
#이 두개를 불러와 만든 DataFrame을 살펴보자.
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [22]:
#정답 데이터도 함께 있다면 데이터를 다루기 더 편리하니, label 이라는 컬럼을 추가
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [24]:
iris_df["label"] = iris.target
iris_df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  label
0                5.1               3.5  ...               0.2      0
1                4.9               3.0  ...               0.2      0
2                4.7               3.2  ...               0.2      0
3                4.6               3.1  ...               0.2      0
4                5.0               3.6  ...               0.2      0

[5 rows x 5 columns]

In [25]:
#여기서 4가지의 feature 데이터들은 머신러닝 모델이 풀어야 하는 문제지와 같음.
#[5.1, 3.5, 1.4, 0.2] 라는 문제가 주어진다면 모델은 0 즉 setosa
#따라서 0,1,2 와 같이 표현된 label데이터는 머신러닝 모델에게 정답지이다.

#문제지: 머신러닝 모델에게 입력되는 데이터. feature 라고 부르기도한다. 변수로는 x를 많이 사용
#정답지: 모델이 맞추어야 하는 데이터. label 또는 target이라고 부르기도함.변수 이름으로 y를 많이사용

In [27]:
#머신러닝 모델을 학습시키려면 
#학습에 사용하는 training dataset
#모델의 성능을 평가하는 데 사용하는 test dataset으로 나누는 작업이 필요
#데이터셋을 분리하는것은 scikit-learn이 제공하는 train_test_split 이라는 함수로 간단히 가능.

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(iris_data,
                                                    iris_label,
                                                    test_size=0.2,
                                                    random_state=7)

print('X_train 개수: ', len(X_train), 'X_test 개수: ', len(X_test))

X_train 개수:  120 X_test 개수:  30

In [28]:
#첫번째 파라미터인 iris_data는 문제지, 즉 feature
#두번째 파라미터인 iris_label은 정답값, 즉 label

#이렇게 해서 4개의 feature 데이터만 있는 x 
#정답 데이터만 있는 y를 얻음

#세번째 인자인 test_size 로는 test dataset의 크기를 조정 가능 0.2는 전체의 20%

#마지막으로 쓴 random_state 는 train 데이터와 test 데이터를 분리하는데 적용되는 랜덤을 결정
#만약 이 데이터 그래도 학습용과 테스트용 데이터를 나눈다면 뒤쪽의 20%가 테스트용 데이터셋으로 만들어지기 때문에 
#테스트용 데이터셋은 라벨이 2인 데이터로만 구성됨
#그래서 데이터 분리시 랜덤으로 섞는 과정이 필요하고 random_state가 이 역할을 하게됨

#컴퓨터에서 랜덤은 특정 로직에 따라 결정되니 완벽한 랜덤은 아님
#그래서 랜덤을 조절할수 있는 값인 random_state, random_seed 를 사용
# 이 값이 같다면 코드는 항상 같은 랜덤 결과를 나타냄

In [29]:
#데이터셋을 확인
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(120, 4) (120,)
(30, 4) (30,)

In [32]:
print(y_train)
print()
print( y_test)

#위에서 확인한 label 과는 다르게 0,1,2가 무작위로 섞여있다.

[2 1 0 2 1 0 0 0 0 2 2 1 2 2 1 0 1 1 2 0 0 0 2 0 2 1 1 1 0 0 0 1 2 1 1 0 2
 0 0 2 2 0 2 0 1 2 1 0 1 0 2 2 1 0 0 1 2 0 2 2 1 0 1 0 2 2 0 0 2 1 2 2 1 0
 0 2 0 0 1 2 2 1 1 0 2 0 0 1 1 2 0 1 1 2 2 1 2 0 1 1 0 0 0 1 1 0 2 2 1 2 0
 2 1 1 0 2 1 2 1 0]

[2 1 0 1 2 0 1 1 0 1 1 1 0 2 0 1 2 2 0 0 1 2 1 2 2 2 1 1 2 2]

3. 머신러닝 모델 학습시키기

In [33]:
#머신러닝은 지도학습(Supervised Learning), 비지도 학습(Unsupervised Learning)
# 지도학습은 정답이 있는 문제에 학습, 비지도 학습은 정답이 없는 문제를 학습

#지도학습은 두가지로 나뉘어짐
#분류(Classification)와 회귀(Regression)
#분류는 입력받은 데이터를 특정 카테고중 하나로 분류
#회귀는 입력받은 데이터에 따라 특정 필드의 수치를 맞추는 문제.

#붓꽃 품종은 분류문제
#회귀 문제의 예로 집에대한 정보(평수,위치,층수 등)를 입력받아 그 집의 가격을 맞추는 문제

#붓꽃 문제는 지도학습이며 분류 문제
#머신러닝 모델을 뭘 사용할지 명확해짐

#분류모델은 아주 다양 하지만 그중 Decision Tree 모델을 사용
#의사결정나무는 결정경계가 데이터 축에 수직이어서 특정 데이터만 잘 작동할 수 있다는 문제가 있음
#이를 극복하기위해 제안된 모델이 Random Forest, 여러개의 Decision Tree를 합쳐서 만들어 놓은 개념

#간단히 Decision Tree는 의사 결정을 할, 즉 데이터를 분리할 어던 경계를 찾아내
#데이터를 체에 거르듯 한단계씩 분류해 나가는 모델
#이 과정에 엔트로피, 정보량, 지니불손도 등의 개념이 포함. 머신러닝 알고리즘 이해를 위해 필수

#sklearn.tree 패키지 안에 DecisionTreeClassifier 라는 이름으로 내장되있음

from sklearn.tree import DecisionTreeClassifier

decision_tree = DecisionTreeClassifier(random_state=32)
print(decision_tree._estimator_type)

classifier

In [34]:
#모델학습
decision_tree.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=32, splitter='best')

In [35]:
#training dataset 으로 모델을 학습시킨다는 것은
#training dataset에 맞게 모델을 fitting, 맞추는 것
#training dataset에 있는 데이터들을 통해 어떠한 패턴을 파악하고,
#그 패턴에 맞게 예측을 할 수 있도록 학습되기 때문입니다.

#다른 말로 하면 모델은 training dataset에 존재하지 않는 데이터에 대해서는
#정확한 정답 카테고리가 무엇인지 알지 못함.
#다만 training dataset을 통해 학습한 패턴으로 
#새로운 데이터가 어떤 카테고리에 속할지 예측할 뿐.

#새로운 데이터에 대해서도 잘 맞출 수 있기 위해서
#training dataset이 어떻게 구성되어 있는지가 매우 중요
#더 다양한, 더 일반화 된 데이터로 학습이 될수록 새로운 데이터에 대해서도 잘 맞출 수 있음

4. 머신러닝 모델 평가하기

In [36]:
y_pred = decision_tree.predict(X_test)
y_pred

array([2, 1, 0, 1, 2, 0, 1, 1, 0, 1, 2, 1, 0, 2, 0, 2, 2, 2, 0, 0, 1, 2,
       1, 1, 2, 2, 1, 1, 2, 2])

In [39]:
#X_test데이터는 feature (문제) 만 존재 
#따라서 학습이 완료된 decision_tree 모델에 X_test 데이터로 predict를 실행하면
#모델이 예측한 y_pred를 얻게됨
#실제 정답인 y_test와 비교해보자
y_test

array([2, 1, 0, 1, 2, 0, 1, 1, 0, 1, 1, 1, 0, 2, 0, 1, 2, 2, 0, 0, 1, 2,
       1, 2, 2, 2, 1, 1, 2, 2])

In [41]:
#성능평가에 대한 함수들이 모여있는 sklearn.metrics 패키지를 이용
#정확도Accuracy 를 간단히 확인
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
accuracy

#전체 개수중 맞은것의 개수의 수치를 나타냄. 90퍼센트의 정확도
#정확도 = 예측결과가정답인데이터의개수 / 예측한전체데이터의개수

0.9

5. 다른 모델로 실습해보기

In [42]:
#다른 모델을 다루기 전에 Decision Tree 모델을 학습시키고 예측하는 과정을 복습

# 1.필요한 모듈 import 

from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

# 2.데이터 준비.

iris = load_iris()
iris_data = iris.data
iris_label = iris.target

# 3.train, test 데이터분리

X_train, X_test, y_train, y_test = train_test_split(iris_data,
                                                    iris_label,
                                                    test_size=0.2,
                                                    random_state=7)

# 4.모델 학습 및 예측
decision_tree = DecisionTreeClassifier(random_state=32)
decision_tree.fit(X_train, y_train)
y_pred = decision_tree.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         7
           1       0.91      0.83      0.87        12
           2       0.83      0.91      0.87        11

    accuracy                           0.90        30
   macro avg       0.91      0.91      0.91        30
weighted avg       0.90      0.90      0.90        30