<a href="https://colab.research.google.com/github/risker93/Hello_World/blob/main/1%EC%A3%BC%EC%B0%A8%EC%97%B0%EC%8A%B5%EC%98%88%EC%A0%9C_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2021_06_19일 까지 
#주어진 문제들을 1시간 안에 모두 풀수 있게 만들어야 한다.

코딩 테스트에서 점수를 받으려면, 주어진 문제를 에러 없이 주어진 시간 안에 정해진 정답을 출력해야 한다. 

따라서 우리가 집중을 해야 할 부분은 

첫째, 정답을 도출해 낼 수 있는 알고리즘을 짜야한다. 

둘째, **주어진 시간 안에** 코딩 정답을 도출해야 한다.

##### max()을 사용하지 않고 max() 구현하기(for 문 사용)

In [18]:
data=[10, 7, 2, 4, 6]
max_v = 0
for i in data:
  if max_v <i:
    max_v = i
  else:
    continue 
      
print(max_v)

10

##### min()을 사용하지 않고 min() 구현하기(for 문 사용)

In [20]:
data=[2, 7, 1, 2, 4, 6]
min_v = data[0]
for i in data:
  if min_v > i:
    min_v = i
  else:
    continue
print(min_v)

1

##### sum()을 사용하지 않고 sum()  구현하기(for 문 사용)

In [22]:
data=[2, 7, 2, 4, 6]
sum_v = 0
for i in data:
  sum_v = sum_v+i

print(sum_v)

21

##### 평균값 구현하기(for 문 사용)

In [23]:
data=[2, 7, 2, 4, 6]
mean_v = 0
for i in data:
  mean_v = mean_v + i
mean_v = mean_v/len(data)

print(mean_v)

4.2

# 여기까지 2분 안에 풀면 okay

##### dictionary 구축하기 (for, if)
다음과 같은 리스트가 있을 때 각각의 요소의 개수를 value 값으로 갖는 딕셔너리를 만드세요.

book_title = ['great', 'expectations', 'the', 'adventures', 'of', 'sherlock', 'holmes', 'the', 'great', 'gasby', 'hamlet', 'adventures', 'of', 'huckleberry', 'fin']


예시 출력)<br>
{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

##### 위의 문제를 아래의 3가지 방법으로 딕셔너리를 각각 만들어 봅시다.
- for와 if만 사용
- count()를 사용
- get() 사용

In [5]:
#for , if
book_title = ['great', 'expectations', 'the', 'adventures', 'of', 'sherlock', 'holmes', 'the', 'great', 'gasby', 'hamlet', 'adventures', 'of', 'huckleberry', 'fin']
dict_book = {}
for book in book_title:
  if book in dict_book:
    dict_book[book]= dict_book[book]+1
  else:
    dict_book[book] = 1
print(dict_book)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

In [4]:
#count
dict_book2 = {}
for book in book_title:
  dict_book2[book] = book_title.count(book)
print(dict_book2)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

In [3]:
#get()
dict_book3 = {}
for book in book_title:
  dict_book3[book] = int(dict_book3.get(book,0)) +1
print(dict_book3)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

##### 조건문과 반복문, break를 활용하여 다음 headlines 리스트의 요소들을 130자 크기의 하나의 문자열로 이어 붙이는 코드를 작성하세요.
```
headlines = [
  "Local Bear Eaten by Man",
  "Legislature Announces New Laws",
  "Peasant Discovers Violence Inherent in System",
  "Cat Rescues Fireman Stuck in Tree",
  "Brave Knight Runs Away",
  "Papperbok Review: Totally Triffic"
]
```

In [ ]:
headlines = [
  "Local Bear Eaten by Man",
  "Legislature Announces New Laws",
  "Peasant Discovers Violence Inherent in System",
  "Cat Rescues Fireman Stuck in Tree",
  "Brave Knight Runs Away",
  "Papperbok Review: Totally Triffic"
]
result = ''
i = 0
while True:
  result += headlines[i]
  i+=1

  if i ==6:
    break
result = result[:130]
print(result)
print(len(result))

Local Bear Eaten by ManLegislature Announces New LawsPeasant Discovers Violence Inherent in SystemCat Rescues Fireman Stuck in Tre
130

In [ ]:
headlines = [
  "Local Bear Eaten by Man",
  "Legislature Announces New Laws",
  "Peasant Discovers Violence Inherent in System",
  "Cat Rescues Fireman Stuck in Tree",
  "Brave Knight Runs Away",
  "Papperbok Review: Totally Triffic"
]

result = ''
for st in headlines:
  result += st

result = result[0:130]


print(result)
len(result)

Local Bear Eaten by ManLegislature Announces New LawsPeasant Discovers Violence Inherent in SystemCat Rescues Fireman Stuck in Tre

130

##### 가로세로 높이가 같은 상자들이 쌓여있는 방이 있다. 방이 오른쪽으로 90도 회전하여 상자들이 중력의 영향을 받아 낙하한다고 할 때, 낙차가 가장 큰 상자를 구하여 낙차를 리턴하자.
- 중력은 회전이 완료된 후에 적용된다.
- 상자들은 모두 한쪽 변면에 붙여진 상태로 쌓여 2차원의 형태를 이루며 벽에서 떨어져서 쌓인 상자는 없다.(일직선으로 떨어진다.)
- 방의 가로길이와 세로길이는 9이다.
- 상자의 길이는 사로세로 1이다
- 입력값의 인덱스가 상자가 쌓여진 높이이다.
- 입력값 : [7, 4, 2, 0, 0, 6, 0, 7, 0]
- 출력값 : 7

##### 나이가 입력된 리스트가 있을때, 조건문과 반복문, continue를 활용하여 20살 이상일때만 "성인입니다"라는 출력을 하는 코드를 작성하세요.

예시 출력)

23 살은 성인입니다.
30 살은 성인입니다.
25 살은 성인입니다.
31 살은 성인입니다.

In [ ]:
def ovr_20(list):
  for a in list:
    if a < 20:
      continue
    else:
      print("{} 살은 성인입니다.".format(a))

ovr_20([8,13,15,19,20,21,24,30])

20 살은 성인입니다.
21 살은 성인입니다.
24 살은 성인입니다.
30 살은 성인입니다.

##### 최고가와 최저가의 차이를 변동폭으로 정의할 때 (시작가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하세요.
```
Key Name         |  Description
---------------    ----------------------------
opening_price    |   최근 24시간 내 시작 거래금액
closing_price    |   최근 24시간 내 마지막 거래금액
min_price        |   최근 24시간 내 최저 거래금액
max_price        |   최근 24시간 내 최고 거래금액
```

In [ ]:
# 힌트
import requests
url = 'https://api.bithumb.com/public/ticker/btc'
data = { k: float(v) for k, v in requests.get(url).json()['data'].items() }
data

change_price = data['max_price'] - data['min_price']
if data['max_price'] < (data['opening_price']+ change_price):
  print("상승장")
else:
  print("하락장")

print("opening_price", data['opening_price'])
print("max_price", data['max_price'])
print("change_price", change_price)
print("today_price", data['opening_price']+change_price)

상승장
opening_price 43223000.0
max_price 43891000.0
change_price 2829000.0
today_price 46052000.0

##### 장바구니에 아래와 같은 과일이 들어있고 과일 판별 리스트가 있습니다. 현재 장바구니에는 과일이 몇개이고 과일이 아닌 것은 몇개인지 출력하세요.

```
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']
```

In [ ]:
'''
예시 출력)
과일은 23개이고, 11개는 과일이 아닙니다..
'''
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']
fruit = 0
not_fruit = 0

for item in basket_items:
  if item in fruits:
    fruit += basket_items.get(item)
  else:
    not_fruit += basket_items.get(item)
print('과일은 {}개이고, {}개는 과일이 아닙니다.'.format(fruit, not_fruit))

과일은 23개이고, 11개는 과일이 아닙니다.

##### 영어 이름은 가운데 이름을 가지고 있는 경우가 있습니다. 가운데 이름은 대문자로 축약해서 나타내는 코드를 작성하세요.

In [33]:
'''
예시 입력)
Alice Betty Catherine Davis
예시 출력)
Alice B. C. Davis
'''

def eng_name(fullname):
  fullname = fullname.split(' ')
  result = ''
  for i in fullname:  
    #print(i)
    #print(type(fullname[0]))
    #print(type(i))
    if i == fullname[0] or i ==fullname[-1]:
      #print(i)
      result = result + ' '+ i
    else:
      i=i[0]+'.'
      result = result+ ' ' + i
         
  
  print(result)

eng_name('Alice Betty Catherine Davis')
# 여기 하던중 처음부터 반복풀이중

 Alice B. C. Davis

##### 1월 1일 월요일부터 12월 31일까지 달력을 출력하세요.

    python 프린트 방법 3가지
    # 초창기 파이썬
    print('%s %s' % ('Hello', 'SSafy'))
    print('%i %s' % (2, 'two'))
    # pyformat
    print('{} {}'.format('one', 'two'))
    print('{1} {0}'.format('one', 'two'))

    # f-string 
    a, b = ('one', 'two')
    print(f'{a} {b}')

In [ ]:
'''
예시 출력)
    1 월
Mo Tu We Th Fr Sa Su 
 1 2 3 4 5 6 7 
 8 9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 31 
    2 월
Mo Tu We Th Fr Sa Su 
 1 2 3 4 5 6 7 
 8 9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
    3 월
Mo Tu We Th Fr Sa Su 
 1 2 3 4 5 6 7 
 8 9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 31
'''
#달력 정답
#답안지임.

calendar = {
    1:31, 2:28, 3:31, 4:30, 5:31, 6:30,
    7:31, 8:31, 9:30, 10:31, 11:30, 12:31
}
weeks = ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su']
for month, days in calendar.items():
  print(f'{month:10}월') #우측정렬
  #print(f'{month:<10}월')#좌측정렬
  #print(f'{month:^10}월')#중앙정렬
  for w in weeks:
    print(f'{w}',end=" ")
  print('')
  for i in range(1, days+1):
    print(f'{i:2}', end=" ")
    if i % 7 == 0:
      print('')

         1월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31          2월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
         3월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31          4월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30          5월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31          6월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30          7월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31          8월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31          9월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30         10월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31         11월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30         12월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

##### 사용자가 입력한 문자열중 가운데 글자를 출력하세요.(단, 문자열이 짝수라면 가운데 두글자를 출력하세요.)

In [44]:
'''
예시 입력)
abc
예시 출력)
b
'''
def mid(stra):
  leng = len(stra)
  if leng%2==0:
    print(stra[(leng//2)-1], stra[leng//2])
  else:
    print(stra[leng//2])



mid('abcde')

c

##### 백준 10808
https://www.acmicpc.net/problem/10808

In [ ]:
'''
풀이
'''

In [16]:
data = input()
cnt = ord('z')-ord('a')+1
visited = [0]*cnt
for i in data:
  check = ord(i) - ord('a')
  visited[check] += 1
#print(visited)
print(*visited)

risker
0 0 0 0 1 0 0 0 1 0 1 0 0 0 0 0 0 2 1 0 0 0 0 0 0 0

In [17]:
list_d = [0]*26
list_d

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [1]:
print(ord('a'))

97

In [3]:
print(ord('z'))

122

In [6]:
ord('z')-ord('a')

25

##### 백준 2577
https://www.acmicpc.net/problem/2577

In [ ]:
'''
풀이
'''

##### 2021 카카오 신입공채 1차 코딩테스트 1번 문제(정답률 50%)
https://programmers.co.kr/learn/courses/30/lessons/72410

> 몰입해서 풀어보시길 바랍니다. 쉬운 문제인 만큼 정답 구글링 확인 금지.

##### 2021 카카오 신입공채 1차 코딩테스트 2번 문제(정답률 25%)
https://programmers.co.kr/learn/courses/30/lessons/72411

> 이러한 유형은 많이 출제됩니다. 유형 치고는 쉬운 문제에 속합니다. 정답 구글링 확인 금지.

In [ ]:
#Palindrome
data = 'abcba'
def is_palindrome(data):
  for i in range(len(data)//2):
    if data[i] == data[-i-1]:
      continue
    else:
      print('회문 아니다!!')
      return
  print('회문이다!!')

is_palindrome(data)

회문이다!!

#외워라.

In [25]:
data = 'abcba'
def is_palindrome(data):
  for i in range(len(data)//2):
    if data[i] == data[-i-1]:
      continue
    else:
      print('회문이 아니다!!!')
      return
  print('회문이다.')
is_palindrome(data)

회문이다.

#여기서 부터는 수업

회문은 보통 전처리 이후 회문을 진행하는 문제가 나온다.

isalnum() : 알파벳과 숫자를 판별한다. 아니면 False를 반환.

lower() : 소문자로

pop() : 리스트의 특정 인덱스 요소를 잘라서 가져온다.

#외우는 순간 쉬워진다.

    \n 줄 바꿈
    \t 탭
    \r 캐리지리턴(커서를 앞쪽으로 가져옴)
    \O 널(Null)
    \\ \
    \' '
    \" "  - 이중인용부호("")
    print('이 다음은 엔터. \n그리고 탭\t탭')

In [27]:
data = '0Madam, I\'m Adam0'
def is_palindrome(data):
  #전처리
  list_s =[]
  for s in data:
    if s.isalnum():
      list_s.append(s.lower())
  while len(list_s) > 1:
    if list_s.pop(0) != list_s.pop():
      print('회문이 아니다!!!')
      return
  print('회문이다!!!')

is_palindrome(data)

회문이다!!!

정규식(re)을 활용한 전처리

    import re
    re.sub('패턴', '바꿈문자열', '적용할 문자열')

In [29]:
#슬라이싱을 활용한 회문 판별
s = ['가나다다나가']
if s == s[::-1]:#이 슬라이싱으로 문자열이 앞뒤가 바뀜
  print('회문이다.')

회문이다.

In [30]:
import re
def in_palindrome(data):
  data = data.lower()

  #정규식 사용
  data = re.sub('[^a-z0-9]', '', data)
  if data == data[::-1]:
    print('회문입니다.')
  else:
    print('회문이 아닙니다.')

a = '0Madam, I\'m Adam0'
in_palindrome(a)

회문입니다.

# 알고리즘은 풀었던 문제를 계속해서 풀어야 한다.

리스트의 값들을 하나씩 뽑아서 비교하기(deque)

파이썬의 가장 큰 문제는 [1,2,3] 이 있을때 [2, 3]으로 만든다면

리스트의 모든 값이 한칸씩 앞으로 움직이는 과정을 거침,

리스트가 아주 크다면, 상당히 오래 걸리고, 자원소모가 심함.

따라서 우리는 append() ,pop() 같은걸 사용하지 않고 deque 를 사용한다

    import collections
    deq = collections.deque()

리스트를 대체한다, 앞에 자료를 뺐을때의 문제를 해결한 로직으로 만들어졌다.

deque 는 스택과 큐 방식을 둘다 사용해 출구가 두개이다.

In [31]:
import collections
def is_pal(data):
  deq = collections.deque()
  for i in data:
    if i.isalnum():
      deq.append(i.lower())
  while len(deq) > 1:
    if deq.popleft() != deq.pop():
      print('회문이 아니다.')
      return
  print('회문입니다.')
is_pal('0Madam, I\'m Adam0')

회문입니다.

회문 문제에서는 

1단계 리스트변환 : 가장 느림

2단계 슬라이싱 : 가장 빠름

3단계 디큐 : 2번 보다는 아니지만 빠름