<a href="https://colab.research.google.com/github/risker93/Hello_World/blob/main/2021_06_09_%EC%BD%94%EB%A1%9C%EB%82%98%ED%99%95%EC%A7%84%EC%9E%90_CSV_%ED%8C%8C%EC%9D%BC%EB%A7%8C%EB%93%A4%EA%B8%B0_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from urllib.request import urlopen
from urllib.parse import urlencode, unquote, quote_plus

import pandas as pd

import json

In [2]:
pip install xmltodict

Collecting xmltodict
  Downloading https://files.pythonhosted.org/packages/28/fd/30d5c1d3ac29ce229f6bdc40bbc20b28f716e8b363140c26eff19122d8a5/xmltodict-0.12.0-py2.py3-none-any.whl
Installing collected packages: xmltodict
Successfully installed xmltodict-0.12.0

In [3]:
import xmltodict

##### 공공데이터활용지원센터_보건복지부 코로나19 감염 현황
> 활용신청하기
https://www.data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15043376

In [5]:
key = 'bb8TV4oMY49cJXKk73OWTX7HzhY4yskXfWiBs3SxX65g%2BDkm8fzHBrQ5lFk4AtBvnMQotDxD%2BLE3Xeel5ECAng%3D%3D'

url = f'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson?serviceKey={key}&'
queryParams = urlencode({ quote_plus('pageNo') : 1, 
                          quote_plus('numOfRows') : 10,
                          quote_plus('startCreateDt') : '20210119',
                          quote_plus('endCreateDt') : '20210120'})
url2 = url + queryParams
response = urlopen(url2)
#print(type(response)) # HTTPSresponse 
results = response.read().decode("utf-8")
#print(type(results))   # str
results_to_json = xmltodict.parse(results)
data = json.loads(json.dumps(results_to_json))
#print(type(data))   # dic
print(data)

{'response': {'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'}, 'body': {'items': {'item': [{'accDefRate': '1.4573418044', 'accExamCnt': '5192119', 'accExamCompCnt': '5043978', 'careCnt': '12028', 'clearCnt': '60180', 'createDt': '2021-01-20 09:38:16.549', 'deathCnt': '1300', 'decideCnt': '73508', 'examCnt': '148141', 'resutlNegCnt': '4970470', 'seq': '392', 'stateDt': '20210120', 'stateTime': '00:00', 'updateDt': '2021-04-20 15:23:25.562'}, {'accDefRate': '1.4661941407', 'accExamCnt': '5140315', 'accExamCompCnt': '4985970', 'careCnt': '12353', 'clearCnt': '59468', 'createDt': '2021-01-19 09:39:49.588', 'deathCnt': '1283', 'decideCnt': '73104', 'examCnt': '154345', 'resutlNegCnt': '4912866', 'seq': '391', 'stateDt': '20210119', 'stateTime': '00:00', 'updateDt': '2021-04-20 15:23:34.538'}]}, 'numOfRows': '10', 'pageNo': '1', 'totalCount': '2'}}}

위의 데이터를 분석해서 아래의 형태의 CSV 파일을 만들자
```
날짜,누적확진자,격리해제환자,치료중환자,사망자수
20210119,73104,59468,12353,1283
20210120,73508,60180,12028,1300

```

In [6]:
data

{'response': {'body': {'items': {'item': [{'accDefRate': '1.4573418044',
      'accExamCnt': '5192119',
      'accExamCompCnt': '5043978',
      'careCnt': '12028',
      'clearCnt': '60180',
      'createDt': '2021-01-20 09:38:16.549',
      'deathCnt': '1300',
      'decideCnt': '73508',
      'examCnt': '148141',
      'resutlNegCnt': '4970470',
      'seq': '392',
      'stateDt': '20210120',
      'stateTime': '00:00',
      'updateDt': '2021-04-20 15:23:25.562'},
     {'accDefRate': '1.4661941407',
      'accExamCnt': '5140315',
      'accExamCompCnt': '4985970',
      'careCnt': '12353',
      'clearCnt': '59468',
      'createDt': '2021-01-19 09:39:49.588',
      'deathCnt': '1283',
      'decideCnt': '73104',
      'examCnt': '154345',
      'resutlNegCnt': '4912866',
      'seq': '391',
      'stateDt': '20210119',
      'stateTime': '00:00',
      'updateDt': '2021-04-20 15:23:34.538'}]},
   'numOfRows': '10',
   'pageNo': '1',
   'totalCount': '2'},
  'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'}}}

In [13]:
state_date_1 = data['response']['body']['items']['item'][0]['stateDt']

In [14]:
decide_cnt_1 = data['response']['body']['items']['item'][0]['decideCnt']

In [15]:
clear_cnt_1 = data['response']['body']['items']['item'][0]['clearCnt']

In [18]:
care_cnt_1 = data['response']['body']['items']['item'][0]['careCnt']

In [17]:
death_cnt_1 =data['response']['body']['items']['item'][0]['deathCnt']

In [19]:
df_1 = pd.DataFrame([state_date_1, decide_cnt_1, clear_cnt_1, care_cnt_1, death_cnt_1])

In [20]:
df_1

          0
0  20210120
1     73508
2     60180
3     12028
4      1300

In [21]:
state_date_2 = data['response']['body']['items']['item'][1]['stateDt']

In [22]:
decide_cnt_2 = data['response']['body']['items']['item'][1]['decideCnt']

In [23]:
clear_cnt_2 = data['response']['body']['items']['item'][1]['clearCnt']

In [24]:
care_cnt_2 = data['response']['body']['items']['item'][1]['careCnt']

In [25]:
death_cnt_2 =data['response']['body']['items']['item'][1]['deathCnt']

In [26]:
df_2 = pd.DataFrame([state_date_2, decide_cnt_2, clear_cnt_2, care_cnt_2, death_cnt_2])

In [27]:
df_2

          0
0  20210119
1     73104
2     59468
3     12353
4      1283

In [28]:
df = pd.concat([df_1, df_2], axis=1)

In [29]:
df

          0         0
0  20210120  20210119
1     73508     73104
2     60180     59468
3     12028     12353
4      1300      1283

In [32]:
df = df.T

In [33]:
df

          0      1      2      3     4
0  20210120  73508  60180  12028  1300
0  20210119  73104  59468  12353  1283

In [35]:
df.columns= ['날짜', '누적확진자', '격리해제환자','치료중환자','사망자수' ]
'''
날짜,누적확진자,격리해제환자,치료중환자,사망자수
'''

'\n날짜,누적확진자,격리해제환자,치료중환자,사망자수\n'

In [36]:
df

         날짜  누적확진자 격리해제환자  치료중환자  사망자수
0  20210120  73508  60180  12028  1300
0  20210119  73104  59468  12353  1283

In [38]:
df.reset_index(drop=True)

         날짜  누적확진자 격리해제환자  치료중환자  사망자수
0  20210120  73508  60180  12028  1300
1  20210119  73104  59468  12353  1283

In [ ]:
 # CSV파일로 저장하기

df.to_csv("test_covid.csv")

In [49]:


  # CSV파일 읽기

df = pd.read_csv("test_covid.csv")

In [50]:
df

   Unnamed: 0.1  Unnamed: 0        날짜  누적확진자  격리해제환자  치료중환자  사망자수
0             0           0  20210120  73508   60180  12028  1300
1             0           1  20210119  73104   59468  12353  1283

In [63]:
df = df.drop(['Unnamed: 0.1'],axis=1)

In [64]:
df

   Unnamed: 0        날짜  누적확진자  격리해제환자  치료중환자  사망자수
0           0  20210120  73508   60180  12028  1300
1           1  20210119  73104   59468  12353  1283

In [65]:
df = df.drop(['Unnamed: 0'],axis=1)

In [66]:
df

         날짜  누적확진자  격리해제환자  치료중환자  사망자수
0  20210120  73508   60180  12028  1300
1  20210119  73104   59468  12353  1283