In [19]:
#예제 5-19 날짜 데이터 분리
# -*- coding: utf-8 -*-

#라이브러리 불러오기
import pandas as pd

#read_csv() 함수로 파일 읽어와서 df로 변환
df = pd.read_csv('./stock-data.csv')

#문자열인 날짜 데이터를 판다스 Timestamp로 변환
df['new_Date'] = pd.to_datetime(df['Date']) #df에 새로운 열로 추가
print(df.head())
print('\n')

#dt 속성을 이용하여 new_Date 열의 연 월 일 정보를 년 월 일로 구분
df['Year'] = df['new_Date'].dt.year
df['Month'] = df['new_Date'].dt.month
df['Day'] = df['new_Date'].dt.day

print(df.head())

         Date  Close  Start   High    Low  Volume   new_Date
0  2018-07-02  10100  10850  10900  10000  137977 2018-07-02
1  2018-06-29  10700  10550  10900   9990  170253 2018-06-29
2  2018-06-28  10400  10900  10950  10150  155769 2018-06-28
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27
4  2018-06-26  10800  10900  11000  10700   63039 2018-06-26


         Date  Close  Start   High    Low  Volume   new_Date  Year  Month  Day
0  2018-07-02  10100  10850  10900  10000  137977 2018-07-02  2018      7    2
1  2018-06-29  10700  10550  10900   9990  170253 2018-06-29  2018      6   29
2  2018-06-28  10400  10900  10950  10150  155769 2018-06-28  2018      6   28
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27  2018      6   27
4  2018-06-26  10800  10900  11000  10700   63039 2018-06-26  2018      6   26

In [20]:
#예제 5-19 날짜 데이터 분리

#Timestamp를 Period로 변환하여 연-월-일 표기 변경하기
df['Date_yr'] = df['new_Date'].dt.to_period(freq='A')
df['Date_m'] = df['new_Date'].dt.to_period(freq='M')
print(df.head())

         Date  Close  Start   High    Low  Volume   new_Date  Year  Month  \
0  2018-07-02  10100  10850  10900  10000  137977 2018-07-02  2018      7
1  2018-06-29  10700  10550  10900   9990  170253 2018-06-29  2018      6
2  2018-06-28  10400  10900  10950  10150  155769 2018-06-28  2018      6
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27  2018      6
4  2018-06-26  10800  10900  11000  10700   63039 2018-06-26  2018      6

   Day Date_yr   Date_m
0    2    2018  2018-07
1   29    2018  2018-06
2   28    2018  2018-06
3   27    2018  2018-06
4   26    2018  2018-06

In [21]:
type(df)

pandas.core.frame.DataFrame

In [22]:
#원하는 열을 새로운 행 인덱스로 지정
df.set_index('Date_m', inplace=True)
print(df.head())

               Date  Close  Start   High    Low  Volume   new_Date  Year  \
Date_m
2018-07  2018-07-02  10100  10850  10900  10000  137977 2018-07-02  2018
2018-06  2018-06-29  10700  10550  10900   9990  170253 2018-06-29  2018
2018-06  2018-06-28  10400  10900  10950  10150  155769 2018-06-28  2018
2018-06  2018-06-27  10900  10800  11050  10500  133548 2018-06-27  2018
2018-06  2018-06-26  10800  10900  11000  10700   63039 2018-06-26  2018

         Month  Day Date_yr
Date_m
2018-07      7    2    2018
2018-06      6   29    2018
2018-06      6   28    2018
2018-06      6   27    2018
2018-06      6   26    2018

In [26]:
#예제 5-20
#-*- coding: utf-8 -*-
#라입러리 불러오기
import pandas as pd
#read_csv() 함수로 파일 읽어와 df로 변환
df = pd.read_csv('stock-data.csv')

#문자열인 날자 데이터를 판다스 Timestamp로 변환
df['new_Date'] = pd.to_datetime(df['Date']) #새로운 열에 추가
df.set_index('new_Date', inplace = True)
print(df.head())
print(df.index)

                  Date  Close  Start   High    Low  Volume
new_Date
2018-07-02  2018-07-02  10100  10850  10900  10000  137977
2018-06-29  2018-06-29  10700  10550  10900   9990  170253
2018-06-28  2018-06-28  10400  10900  10950  10150  155769
2018-06-27  2018-06-27  10900  10800  11050  10500  133548
2018-06-26  2018-06-26  10800  10900  11000  10700   63039
DatetimeIndex(['2018-07-02', '2018-06-29', '2018-06-28', '2018-06-27',
               '2018-06-26', '2018-06-25', '2018-06-22', '2018-06-21',
               '2018-06-20', '2018-06-19', '2018-06-18', '2018-06-15',
               '2018-06-14', '2018-06-12', '2018-06-11', '2018-06-08',
               '2018-06-07', '2018-06-05', '2018-06-04', '2018-06-01'],
              dtype='datetime64[ns]', name='new_Date', freq=None)

In [36]:
#예제 6-1 시리즈의 원소에 apply() 적용

# -*- coding: utf-8 -*-
#라이브러리 불러오기 
import seaborn as sns

#titanic 데이터셋에서 age, fare 2개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','fare']]
df['ten'] = 10
print(df.head())

    age     fare  ten
0  22.0   7.2500   10
1  38.0  71.2833   10
2  26.0   7.9250   10
3  35.0  53.1000   10
4  35.0   8.0500   10

In [37]:
#사용자 함수 정의
def add_10(n): #10을 더하는 함수
    return n + 10

def add_two_obj(a, b): #두 객체의 합
    return a + b

print(add_10(10))
print(add_two_obj(10,10))

20
20

In [38]:
#시리즈 객체에 적용
sr1 = df['age'].apply(add_10) # n =df['age']의 모든 원소
print(sr1.head())
print('\n')

#시리즈 객체와 숫자에 적용: 2개의 인수(시리즈 + 숫자)
sr2 = df['age'].apply(add_two_obj, b=10) #a=df['age']의 모든 원소, b=10
print(sr2.head())
print('\n')

#lambda 함수 활용: 시리즈 객체에 적용
sr3 = df['age'].apply(lambda x : add_10(x)) #x=df['age']
print(sr3.head())

0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64


0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64


0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64