In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'key':['a','b','c','a','b','c'],
                  'data': range(6)})
df.groupby('key')

In [3]:
df.groupby('key').sum()

     data
key
a       3
b       5
c       7

In [5]:
df.groupby(['key', 'data']).sum()

Empty DataFrame
Columns: []
Index: [(a, 0), (a, 3), (b, 1), (b, 4), (c, 2), (c, 5)]

In [8]:
df.groupby('key').aggregate(['min', np.median, max])

    data
     min median max
key
a      0    1.5   3
b      1    2.5   4
c      2    3.5   5

In [11]:
df.groupby('key').aggregate({'data':min, 'data':np.sum })

     data
key
a       3
b       5
c       7

In [13]:
def filter_by_mean(x):
    return x['data'].mean() > 3
df.groupby('key').mean()

     data
key
a     1.5
b     2.5
c     3.5

In [14]:
df.groupby('key').filter(filter_by_mean)

  key  data
2   c     2
5   c     5

In [15]:
df.groupby('key').apply(lambda x: x.max() - x.min())

     data
key
a       3
b       3
c       3

In [31]:
df = pd.DataFrame(
    np.random.randn(4,2),
    index=[['a','a','b','b'], [1,2,1,2]],
    columns=['data1','data2']
)

In [36]:
df

        data1     data2
a 1 -1.317407  1.466446
  2  1.506903  0.197361
b 1 -0.621343  1.430735
  2  0.608054  0.139662

In [39]:
df = pd.DataFrame(
    np.random.randn(4,4),
    columns = [['a','a','b','b'], [1,2,1,2]]
)

df

          a                   b
          1         2         1         2
0 -0.193692 -2.341985 -1.911218 -1.381001
1  0.751779 -1.687154  0.260356 -0.564282
2  0.152707 -1.245829 -0.937209 -0.435778
3  0.305586 -0.483597  0.207116  0.295343

In [41]:
df

          a                   b
          1         2         1         2
0 -0.193692 -2.341985 -1.911218 -1.381001
1  0.751779 -1.687154  0.260356 -0.564282
2  0.152707 -1.245829 -0.937209 -0.435778
3  0.305586 -0.483597  0.207116  0.295343

In [40]:
df['a']

          1         2
0 -0.193692 -2.341985
1  0.751779 -1.687154
2  0.152707 -1.245829
3  0.305586 -0.483597

In [44]:
df['a'][1]

0   -0.193692
1    0.751779
2    0.152707
3    0.305586
Name: 1, dtype: float64